PubSubClient/Service References/ServiceReference1/PubSubService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ListPublishSubscribe.Service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ListPublishSubscribe.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ListPublishSubscribe.Service/Imports">
      <xsd:import schemaLocation="http://localhost:19734/PubSubService.svc?xsd=xsd0" namespace="http://ListPublishSubscribe.Service" />
      <xsd:import schemaLocation="http://localhost:19734/PubSubService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPubSubService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_PublishNameChange_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishNameChange" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_PublishNameChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishNameChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_NameChange_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NameChange" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IPubSubService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/Subscribe" message="tns:IPubSubService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/SubscribeResponse" message="tns:IPubSubService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/Unsubscribe" message="tns:IPubSubService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/UnsubscribeResponse" message="tns:IPubSubService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublishNameChange">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/PublishNameChange" message="tns:IPubSubService_PublishNameChange_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/PublishNameChangeResponse" message="tns:IPubSubService_PublishNameChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NameChange">
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/NameChange" message="tns:IPubSubService_NameChange_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>